.footer{
  padding: 0;
  right: 0;
  left: 0;
  background: #252525;
  align-items: center;
}
.container-fluid{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
p{
  margin: 0;
}
a{
  margin-right: 0;
}

