<div class="album ">
    <div class="row justify-content-center">
      <div *ngFor="let pizza of productsList" class="card product__item col-11 col-sm-5 col-md-5 col-lg-5  col-xl-3 mr-2 ml-2 mb-3">
          <div class="card-header">
            <h1 class="pizza_name card-text">{{pizza.Name}}</h1>
          </div>
          <img class="pizza_image" src="assets/images/products/{{pizza.Name}}.webp" alt="">
            <div class="card-body container-fluid">
              <p class="card-text">{{pizza.Size}}см</p>
              <p class="pizza_price card-text">{{pizza.Price}}ГРН</p>
              <p class="card-text">{{pizza.Ingredients}}</p>
            </div>

      </div>
    </div>
</div>
