<header>
<nav class="navbar navbar-expand-md">
    <div class="header__top">
      <div class="container header__top-container">
      <p class="work_time">Принимаем заказы с 10:00 до 21:30</p>

      <div class="contacts">
        <a href="tel:+380669707575" class="contacts__link">+380669707575</a>
      </div>
      </div>
    </div>

    <div class="header__bottom">
        <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
        </div>
        <div class="col-xl-3 menu__div">
        <ul class="menu header__menu menu_left justify-content-end align-items-center">
          <li class="menu__item">
            <a class="menu__link" routerLink="/pizza">
              <img class="menu__image" src="../../assets/images/icons/pizza_menu_icon.svg" alt="*">Пицца
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" routerLink="/delivery">
              <img class="menu__image" src="../../assets/images/icons/delivery_icon.svg" alt="*">Доставка
            </a>
          </li>
        </ul>
        </div>
          <div class="col-xl-2 col-lg-8 col-md-6 col-sm-4 col-4">
        <a class="logo navbar-brand" routerLink="">
          <img class="navbar_logo" src="../../assets/images/prosto_pizza_logo_full.webp" alt="Prosto Pizza">
        </a>
          </div>
          <div class="col-xl-3 menu__div">
        <ul class="menu header__menu menu_right justify-content-start align-items-center">
          <li class="menu__item">
            <a class="menu__link" routerLink="/promotions">
              <img class="menu__image" src="../../assets/images/icons/promotions_icon.svg" alt="*">Акции
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" routerLink="/contacts">
              <img class="menu__image" src="../../assets/images/icons/contacts_icon.svg" alt="*">Контакты
            </a>
          </li>
        </ul>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4 justify-content-end dropdown menu__div__dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Меню
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="/pizza"><img class="menu__image__dropdown" src="../../assets/images/icons/pizza_menu_icon.svg" alt="*">Пицца</a>
              <a class="dropdown-item" routerLink="/delivery"><img class="menu__image__dropdown" src="../../assets/images/icons/delivery_icon.svg" alt="*">Доставка</a>
              <a class="dropdown-item" routerLink="/promotions"><img class="menu__image__dropdown" src="../../assets/images/icons/promotions_icon.svg" alt="*">Акции</a>
              <a class="dropdown-item" routerLink="/contacts"><img class="menu__image__dropdown" src="../../assets/images/icons/contacts_icon.svg" alt="*">Контакты</a>
            </div>
          </div>
        </div>
      </div>

  </nav>
</header>
