.navbar-brand{
  height: 150px;
  width: 150px;

}
.language_item{
  list-style-type: none;
  overflow: hidden;
}
.language_item:hover{
  color: #aca9bb;
}
.language_link{
  display: flex;
  width: 48px;
  height: 28px;
  justify-content: center;
  align-items: center;
}
.language_item_active{
  background: #ffffff;
  color: #252525;
}
.header__language{
  padding: 0;
  margin: 0;
  width: 96px;
}

.language{
  list-style-type: none;
  display: flex;
  border: 1px solid #ffffff;
  overflow: hidden;
  border-radius: 15px;
}
.navbar-brand.logo{
  position: absolute;
  left: 50%;
  border: 2px solid #aca9bb;
  transform: translate(-50%,0);
  margin: 0;
  background-image: url("src/assets/images/header_logo_background.webp");
  background-size: cover;
}
.logo{
  z-index: 1000;
  display: flex;
  top: -25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  justify-content: center;
  background-size: contain;
}
.navbar-brand.logo::before,
.navbar-brand.logo::after
{
  height: 50px;
  top: 48px;
  content: '';
  display: block;
  width: 30px;
  position: absolute;

}
.navbar-brand.logo::before{
  left: -10px;
}
.navbar-brand.logo::after{
  left: auto;
  right: 10px;
}
img{
max-height: 85%;
  width: auto;
}
.header__top{
  background: #252525;
  display: block;
}
.header__bottom{
  display: block;
  border-bottom: #aca9bb 2px solid;
  padding: 15px 15px;
  margin: 0;
}

nav.navbar{
  display: block;
  padding: 0;
}

#link_instagram{
  margin: 0;
}
.contacts{
  margin: 0;
}
.contacts__link{
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
.contacts__link:last-child{
  margin-right: 0;
}
.work_time{
  margin: 0;
}
.header__top-container.container{
  display: flex;
  padding: 15px 15px;
  margin: 0;
}
.container{
  max-width: 100%;
  width: 100%;
}
.menu__link:hover{
  color: #aca9bb;
}
.menu__item:last-child{
  margin-right:0;
}
.header__menu,
.menu_left,
.menu_right,
.menu__item {
  list-style-type: none;
  height: 23px;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  padding: 0;
}
.menu__image{
  height: 23px;
  margin-right: 10px;
}
.menu__image__dropdown{
  height: auto;
  width: 30px;
  margin-right: 10px;
}
.menu__item{
  margin-right: 23px;
}
.menu__link{
  font-family: 'OpenSans-Light', Arial, 'Nimbus Sans L', 'Helvetica CY', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  height: 23px;
}
.menu_right{
  left: 60%;
}

.user_icon{
  margin-right: 5px;
}
.menu__div__dropdown{
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .menu__div__dropdown{
    display: none;
  }
}
@media screen and (max-width: 1199px){
  .menu__div{
    display: none;
  }

  .navbar_logo{
    left: 50%;
  }
}
@media screen and (max-width: 500px){
  .logo{
    width: 100px;
    height: 100px;
  }
}
#dropdownMenuButton{
  align: end;
}
.user_icon{
  margin-right: 5px;
}
.dropdown-menu{
  background-color: #252525;
  border-color: #aca9bb;
}
.dropdown-menu .dropdown-item{
  background-color: #252525;
  color: white;
  align-items: end;
}

.row {
  margin:0  ;
}
