body{
  color: #ffffff;
  font-family: "Open Sans Light",sans-serif;
  font-size: 16px;
  line-height: 21px;
  background-image: url("src/assets/images/background.webp");
  background-size: cover;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}
